@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer components {
  .btn-blue {
    @apply flex items-center justify-center h-16 m-1 px-4 py-2 border border-blue-600 rounded-lg text-blue-600 hover:bg-blue-50 
  }
  .main-container {
    @apply min-h-screen max-w-2xl flex flex-col py-6 sm:px-12 m-auto
  }
}